<app-header></app-header>
<div class="card-container">
  <button class="btn" routerLink="/search"></button>
  <img src="{{cards[index].snippet.thumbnails.standard.url}}" alt="{{cards[index].snippet.title}}">
  <div *ngIf="diffInDays" class="card-text"
    [ngClass]="{'blue': diffInDays < 7, 'green': diffInDays >= 7 && diffInDays < 31, 'yellow': diffInDays >= 31 && diffInDays < 180, 'red': diffInDays >= 180}">
    <div class="card-text-header">
      <h1 class="title">{{cards[index].snippet.title}}</h1>
      <p class="date">{{formattedDate}}</p>
    </div>
    <h2 class="description">Description</h2>
    <p class="description">{{cards[index].snippet.description}}</p>
    <div class="statistic">
      <span class="viewed"></span>
      <span>{{cards[index].statistics.viewCount}}</span>
      <span class="like"></span>
      <span>{{cards[index].statistics.likeCount}}</span>
      <span class="dislike"></span>
      <span>{{cards[index].statistics.dislikeCount}}</span>
      <span class="comment"></span>
      <span>{{cards[index].statistics.commentCount}}</span>
    </div>
  </div>
</div>