<header>
  <div class="navbar">
    <a routerLink="/main">
      <i style="font-size:48px;color:#2F80ED" class="fa fa-youtube-play"></i></a>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup.enter)="searching(searchTerm)"
        placeholder="What are you want to find out?">
      <button class="search" (click)="searching(searchTerm)">search</button>
    </div>
    <div class="option" (click)="showSort = !showSort"></div>
    <div class="login">
      <span>Your Name</span>
      <div class="login-button"></div>
    </div>
  </div>
</header>
<app-sorting *ngIf="showSort"></app-sorting>
