<div class="container">
  <div class="row">
    <ng-container *ngFor="let card of cards | filter:searchKey:'title'">
      <div class=" card">
        <div class="card-container">
          <img src="{{card.snippet.thumbnails.standard.url}}" alt="{{card.snippet.title}}">
          <div class="statistic">
            <span class="viewed"></span>
            <span>{{card.statistics.viewCount}}</span>
            <span class="like"></span>
            <span>{{card.statistics.likeCount}}</span>
            <span class="dislike"></span>
            <span>{{card.statistics.dislikeCount}}</span>
            <span class="comment"></span>
            <span>{{card.statistics.commentCount}}</span>
          </div>
          <p>{{card.snippet.title}}</p>
          <button *ngIf="card.id" class="btn" routerLink="/description/{{card.id}}"
            (click)="going(card.id)">more...</button>
        </div>
      </div>
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButton></mat-paginator>
</div>
